<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          Student Details
        </mat-panel-title>
        <mat-panel-description>
          Student information guides
        </mat-panel-description>
      </mat-expansion-panel-header><button mat-raised-button>Raised Button</button>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>

        <mat-panel-title>
          Student Details
        </mat-panel-title>
        <mat-panel-description>
          Student information guides
        </mat-panel-description>
      </mat-expansion-panel-header><button mat-raised-button>Raised Button</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>